
:root {
   --pixel-size: 6;
}
.Character {
   width: calc(32px * var(--pixel-size));
   height: calc(48px * var(--pixel-size));
   overflow: hidden;
   position: relative;
   z-index: 2;
}

.Character_spritesheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
}

.pixelart {
   image-rendering: pixelated;
}


@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}
 
 @keyframes move {
   0% {
     offset-distance: 0%;
   }
   100% {
     offset-distance: 100%;
   }
 }

 #motion {
   offset-path: path("M319.6 31C324.27 151.67 307.04 398.4 200.8 420C126.8 437.33 -13.28 518.1 18.4 702.5C24.93 756.17 85.2 861.5 274 853.5C376.53 844.5 581.6 868.6 581.6 1037C584.93 1097.33 559.84 1218 432.8 1218H173.2C115.73 1211.17 0.8 1249.1 0.8 1455.5C3.33 1546.5 36.56 1728.5 149.2 1728.5C261.84 1728.5 298 1832.5 302 1884.5V2095");
   offset-rotate: 0deg;
   animation: move linear;
   animation-timeline: scroll();
   left: 35%;
   animation-range: entry 25% cover 60%;
   transform: translate(-40%, -100%) scale(0.8) ;
}
#motion2 {
   offset-path: path("M725.6 0C726.857 70 687.0 215.3 518.6 236.5C452.857 236.333 321.1 275.5 321.1 433.5C317.024 500.333 353.0 634 518.6 634H903.1C956.858 648.167 1064.1 707.4 1064.1 831C1063.1 900 1029.5 1038 903.1 1038C776.7 1038 594.1 1038 518.6 1038C452.857 1044.67 321.1 1098.1 321.1 1258.5C326.857 1324.17 374.29 1455.5 518.6 1455.5C587.6 1459.67 725.6 1506.2 725.6 1659V1827");
   offset-rotate: 0deg;
   animation: move linear;
   animation-timeline: scroll();
   animation-range: entry 0% cover 100%; /* This line was modified */
   transform: scale(0.8);
}
.path-visual {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   z-index: 1;
}

.path-visual::before {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   background: none;
   mask: path("M725.6 0C726.857 70 687.0 215.3 518.6 236.5C452.857 236.333 321.1 275.5 321.1 433.5C317.024 500.333 353.0 634 518.6 634H903.1C956.858 648.167 1064.1 707.4 1064.1 831C1063.1 900 1029.5 1038 903.1 1038C776.7 1038 594.1 1038 518.6 1038C452.857 1044.67 321.1 1098.1 321.1 1258.5C326.857 1324.17 374.29 1455.5 518.6 1455.5C587.6 1459.67 725.6 1506.2 725.6 1659V1827");
   -webkit-mask: path("M725.6 0C726.857 70 687.0 215.3 518.6 236.5C452.857 236.333 321.1 275.5 321.1 433.5C317.024 500.333 353.0 634 518.6 634H903.1C956.858 648.167 1064.1 707.4 1064.1 831C1063.1 900 1029.5 1038 903.1 1038C776.7 1038 594.1 1038 518.6 1038C452.857 1044.67 321.1 1098.1 321.1 1258.5C326.857 1324.17 374.29 1455.5 518.6 1455.5C587.6 1459.67 725.6 1506.2 725.6 1659V1827");
   background-color: red; /* 這是描邊的顏色 */
}
