
:root {
   --pixel-size: 6;
}
.Character {
   width: calc(32px * var(--pixel-size));
   height: calc(48px * var(--pixel-size));
   overflow: hidden;
   position: relative;
   z-index: 2;
}

.Character_spritesheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
}

.top .Character{
   left: 42%;
   top: -15%;
   width: calc(36px * var(--pixel-size));
   height: calc(64px * var(--pixel-size));
 }
 .top .Character_spritesheet {
   width: calc(156px * var(--pixel-size));
 }


@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}
 
 @keyframes move {
   0% {
     offset-distance: 0%;
   }
   100% {
     offset-distance: 100%;
   }
 }

.road1 #motion {
   offset-path: path("M319.6 31C324.27 151.67 307.04 398.4 200.8 420C126.8 437.33 -13.28 518.1 18.4 702.5C24.93 756.17 85.2 861.5 274 853.5C376.53 844.5 581.6 868.6 581.6 1037C584.93 1097.33 559.84 1218 432.8 1218H173.2C115.73 1211.17 0.8 1249.1 0.8 1455.5C3.33 1546.5 36.56 1728.5 149.2 1728.5C261.84 1728.5 298 1832.5 302 1884.5V2095");
   offset-rotate: 0deg;
   animation: move linear;
   animation-timeline: scroll();
   left: 35%;
   animation-range: entry 25% cover 60%;
   transform: translate(-40%, -100%) scale(0.8) ;
}


@media (max-width: 480px) {

   .top #motion {
      transform: translate(-37%, -20%) scale(0.6);

    }

   .road1 #motion {
      offset-path: path("M106.53 10.33C108.09 50.56 102.35 132.8 66.93 140C42.27 145.78 -4.43 172.7 6.13 234.17C8.31 252.06 28.4 287.17 91.33 284.5C125.51 281.5 193.87 289.53 193.87 345.67C194.98 365.78 186.61 406 144.27 406H57.73C38.58 403.72 0.27 416.37 0.27 485.17C1.11 515.5 12.19 576.17 49.73 576.17C87.28 576.17 99.33 610.83 100.67 628.17V698.33");
      animation-range: entry 10% cover 80%;
      transform: translate(-30%, -15%) scale(0.6); 
   }
   

}